<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ $title := print .Title " | " .Site.Title }}
        {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
        <title>{{ $title }}</title>
        {{ block "meta" . }}{{ end }}
        <meta name="twitter:creator" content="@bamnet" />
        <meta name="twitter:title" content="{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}">
    </head>
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
