/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: rgba(255, 255, 255, 0.87);
  }
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #d7ecd1;
}

nav > * {
  padding: 0;
  margin: 0;
}

nav {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 1rem; 
}

nav a {
  color: inherit;
  text-decoration: inherit;
}

#image {
  text-align: center;
}

img {
  max-width: 100%;
  block-size: auto;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1em;
}